.button
  border: 1px solid #f9f9f9
  display: inline-block
  cursor: pointer
  color: #000
  text-align: center
  padding: 16px 31px
  text-decoration: none
  &:hover
    background-color: #f9f9f9
  &:active
    position: relative
    top: 1px
  &.is-full
    width: 100%
  &.is-primary
    background-color: #08f7d4
    &:hover
      background-color: #00d1b2
  &.is-info
    background-color: #24a3f7
    &:hover
      background-color: #209cee
  &.is-warning
    background-color: #ffdd57
    &:hover
      background-color: #ffdd57
  &.is-danger
    background-color: #ff3860
    &:hover
      background-color: #ff3860
